<div class="second-part">
  <div class="pt-4 ml-5">
  <h1 class="name"> About me</h1>
  <p class="para1 pt-4">I'm a Software Developer</p>
  <p class="para2 pt-4">I can help you build a product , feature or website Look through some of my work and experience! If you like what you see and have a project you need coded, 
  don’t hestiate to contact me.</p>
  </div>
  <div class="about1"></div>
  <div class="about2"></div>
  <div class="about3"></div>

  <button class="ml-5 mt-5 about-b"><p>Get My Resume</p></button>

  <hr class="hr1">

  <div class= "d-flex justify-content-around  p-5">
   <div>
   <h2 class="language">Language</h2>
   <div class="pt-3">
  <p class="text"> Javascript</p>
  <p class="text"> Ruby</p>
  <p class="text"> Html</p>
  <p class="text"> Css</p>
  </div>
  </div>


  <div>
  <h2 class="language">Frameworks</h2>
  <div class="pt-3">
  <p class="text">Bostrap</p>
  <p class="text">Ruby on Rails</p>
  <p class="text">Rspec</p>
  <p class="text">CapyBara</p>
  <p class="text">Selenium</p>
  </div>
  </div>

  <div >
  
  <h2 class="language">Skills</h2>
  <div class="pt-3">
  <p class="text">Codekit</p>
  <p class="text">Github</p>
  <p class="text">Codepen</p>
  <p class="text">Gitlab</p>
  <p class="text">Terminal</p>
  
  </div>
  



</div>