<section class="mb-4 ">

    <div class="contact-text">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact me</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5"> I'm always interested in hearing about new projects, so if you'd like to chat please get in touch.</p>
    </div>
    <div class="row ">

        <!--Grid column-->
        <div class="col-md-9 ml-5 mr-3">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row ml-5 mr-3">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->


                <!--Grid row-->

                <!--Grid row-->
                <div class="row ml-5 mr-3">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center ">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

    

    </div>

</section>