<div class="container-fluid">
  <div class="row ">
        <div class="second-part  col-lg-12 col-md-12 col-sm-12">
            <div class="pt-3 ml-5 d-flex flex-column">
               <h1 class="name">Hey There. I’m Arafat by name.</h1>
               <p class="para1 pt-4"> I'm a Software Developer </p>
               <p class="para2 pb-5 col-7"> I can help you build a product , feature or website Look through some of my work and experience! If you like what you see and have a project you need coded, 
              don’t hestiate to contact me. </p>
            </div>
            

            

            <div class="shapes">
               <div class="rectangle1"></div>
               <div class="small2"></div>
               <div class="small3"></div>
               <div class="small4"></div>
               <div class="small5"></div>
               <div class="small6"></div>
               <div class="small7"></div>
               <div class="small8"></div>
               <div class="small9"></div>
               <div class="small10"></div>
            </div>






        </div>
    </div>
</div>
