<div class="container-fluid m-2">
 <div class="portfolio ">
   <p class="recent">My Recent Works</p>
    <hr class="hr2">

    <div class="row d-flex ">

      <div class="container1 col-lg-6 col-md-6 col-sm-10 ">
        <%= image_tag("pic1.png", :class=> "project1") %>
        <div class="overlay">
           <div class="d-flex flex-column">
             <h2 class="text  text-center mt-3 font-weight-bold">Event Sales App</h2>
             <p class="text  text-center mt-3"> The event ticket is a site where events can be shown, with dates, ticket of various events</p>
              
                <div class="d-flex flex-row justify-content-center mt-5 pt-5">
               <p class="port-b text-center p-1">Html</p>
               <p class="port-b  ml-3 text-center p-1">Css</p>
               <a href="https://github.com/haraphat01/capstone" class="port-b ml-5 p-1"> Github</a>

               
               </div>
            </div>
         </div>
      </div>

      <div class="container1 col-lg-6 col-md-6 col-sm-10">
       <%= image_tag("pic2.png", :class=> "project1") %>
        <div class="overlay">
        <div class="d-flex flex-column">
        <h2 class="text  text-center mt-3 font-weight-bold">Seo Checker</h2>
        <p class="text  text-center mt-3"> The project is an html linter checkers, it checks if the head, title, h1, and alt text are all present in the html file</p>
         
           <div class="d-flex flex-row justify-content-center mt-5 pt-5">
          <p class="port-b text-center p-1">Ruby</p>
          <p class="port-b  ml-3 text-center p-1">Rspec</p>
          <a href="https://github.com/haraphat01/ruby_capstone" class="port-b ml-5 p-1"> Github</a>
          </div>
       </div>
        </div>
      </div>


      <div class="container1 col-lg-6 col-md-6 col-sm-10 mt-5">
       <%= image_tag("pic3.png", :class=> "project1") %>
        <div class="overlay">
        <div class="d-flex flex-column">
        <h2 class="text  text-center mt-3 font-weight-bold">Article App</h2>
        <p class="text  text-center mt-3"> This is an article app, where user can upload an article, the article with the highest number of votes shows at the homepage</p>
         
         <div class="d-flex flex-row justify-content-center mt-5 pt-5">
          <p class="port-b text-center p-1">Html</p>
          <p class="port-b  ml-3 text-center p-1">Css</p>
          <p class="port-b  ml-3 text-center p-1">Boostrap</p>
          <p class="port-b text-center ml-3 p-1">RoR</p>
          <a href="https://abekeapo.herokuapp.com/" class="port-b ml-5 p-1"> See Project</a>
      
          </div>
       </div>
        </div>
      </div>
      



      

      
   
   </div>










 </div>
</div>